.app__locations {
  background-color: #f7fcff;
  padding: 2rem 0;
  height: 100vh;
  .locations_table {
    thead {
      background: #f5f5f5;
      tr {
        th {
          font-size: 12px;
          color: #9fb6c9;
          text-align: center;
          padding: 0.5rem;
          border: 0;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          p {
            margin-bottom: 0;
            font-size: 14px;
            color: #0d0d0d;
          }
          .status {
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            padding: 0.2rem 0;
            &.successful {
              background: #f2f8fa;
              color: #26bf78;
            }
            &.failed {
              background: #faf2f2;
              color: #ff7676;
            }
          }
          .actions {
            display: flex;
            flex-direction: row;
            gap: 2%;
            .update {
              background: #42454a;
              border-color: #42454a;
            }
            button {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
